@{
    ViewBag.Title = "About";
}


<body>

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        About
                        <strong>B IDEAS HUB</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="~/img/slide-2.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>Taking a successful business model from someone else and building on it is no crime. But it always need a good IDEA to take a first step . In fact, it is how most leaders build businesses. It doesn’t always take a “stroke of genius” to get to the top , but a single click of idea. But when those once-in-a-lifetime ideas strike, your window to act may be small. We don’t accept the idea that all of the good ideas have been taken. Many unique businesses are proof that you can find prosperity, even in a market that may not have even existed when you first had your idea.</p>
                    <p>Here we provide you with a central forum where you can get the latest ideas and their feasilbilty level. Share and discuss your ideas with the world, that will help you polish your idea. We provide you with a platform where you can not only get the latest ideas but also discuss its aftermaths with the successfull entreprenuers.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        TOP
                        <strong>ENTREPRENEURS</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="~/img/michael.jpg" alt="">
                    <h3>
                        
                         <small> Michael Bloomberg - $33 billion</small>
                    </h3>
                   <p>Former New York City mayor Michael Bloomberg ma still holds ample sway in both business and political circles. Just last week, he was in Washington, D.C. to help usher in President Obama's My Brother's Keeper program, an initiative focused on men of color, which is modeled after the former mayor's program in New York. Before working at city hall, the world's 16th-richest person, has a fortune valued at $33 billion.</p>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="~/img/Carlos.jpg" alt="">
                    <h3>
                        
                        <small>Carlos Slim Helú - $72 billion</small>
                    </h3>
                    <p>Carlos Slim Helú may be best known as a telecommunications executive, but the 74-year-old made his start in Mexico with a brokerage firm he opened shortly after completing college. He would then go on to invest in a variety of businesses, and acquire Telmex from the Mexican government in 1990. Today, he has a net worth of $72 billion.</p>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="~/img/armancio_ortega.jpg" alt="">
                    <h3>
                   
                        <small>Amancio Ortega - $64 billion</small>
                    </h3>
                    <p> The 77-year-old Spanish fashion executive founded the first Zara fashion clothing and accessories chain in 1975. Today, that retail chain is part of the Inditex fashion group, of which he is the founding chairman. Ortega clocked in at No. 3 on the Rich List with a fortune of $64 billion.</p>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="~/img/Llarry-ellison.jpg" alt="">
                    <h3>
                        
                        <small> Larry Ellison - $48 billion</small>
                    </h3>
                    <p>One of the first entrepreneurs to give Silicon Valley its cachet, Larry Ellison is the co-founder of a company that would eventually be called Oracle Corporation. Today, he serves as the Redwood City, California-based enterprise software company's CEO. His fortune, at $48 billion, makes Ellison the fifth wealthiest person in the world, according to the latest Rich List.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>